script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(type='text/javascript', src="lib/jquery/jquery-ui.min.js")
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

// JSON
script(type='text/javascript', src='/js/json/json.js')

// d3js
script(type='text/javascript', src='/lib/d3/d3.min.js')

// AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.min.js')


// Angular Stuff
script(type='text/javascript', src='/js/app.js')

// Services
script(type='text/javascript', src='/js/services/global.js')

// LoDash
script(type='text/javascript', src='/lib/lodash/lodash.js')

// Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/user.js')
script(type='text/javascript', src='/js/controllers/lrs.js')
script(type='text/javascript', src='/js/controllers/reserve.js')

// Directives
script(type='text/javascript', src='/js/directives/labmapDirective.js')
script(type='text/javascript', src='/js/directives/calendarDirective.js')
