head
  meta(charset='utf8')
  base(href='/')
  title IS Lab Computer Reservation System
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/site.css')