<div class="page-header">
  <h1>Admin</h1>
</div>

<div class="col-md-2">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="model in models">
      <a href="admin/{{model.tableName}}">{{model.tableName}}</a>
    </li>
  <ul>
</div>

<div class="col-md-10">
  <h2>{{currentModel}}</h2>
  <a href="admin/new/{{currentModel}}"class="btn btn-success">New {{currentModel}}</a>
  <table class="table table-striped">
    <tr>
      <th ng-repeat="header in modelHeaders">{{header}}</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="item in modelData">
      <td ng-repeat="key in modelHeaders">{{item[key]}}</td>
      <td>
        <a href="admin/edit/{{currentModel}}/{{item.id}}" class="btn btn-default">Edit</a>
        <button class="btn btn-danger" ng-click="delete(currentModel, item)">Delete</button>
      </td>
    <tr>
  <table>
</div>
