<div class="container">
    <div class="page-header">
      <h1>Lab Calendar</h1>
    </div>
    <div class="text-center">
      <iframe style="border-width: 0;" src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;showTz=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=4sftdt354kbu5kaufj4kv15njg%40group.calendar.google.com&amp;color=%23B1440E&amp;src=idmbkadj9g6n48s1nt2csubdc4%40group.calendar.google.com&amp;color=%2328754E&amp;src=fesegnp0e5691tfma741g9mbbg%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FDenver" frameborder="0" scrolling="no" width="1000" height="800"></iframe>
    </div>
</div>
