<div class="container">
    <div class="page-header">
      <h1>Policies</h1>
    </div>

    <p>The lab is a fantastic resource for Information Systems students and faculty that can greatly enhance learning. Collectively, we are stewards of the lab and ask you to abide by the following lab policies:</p>

    <h2>General</h2>
    <ul>
      <li>Use the lab at appropriate times</li>
      <li>Use the lab in appropriate ways (including appropriate software use)</li>
      <li>Clean up after yourself (e.g. if you get out a monitor, headphones, cords, etc. put them away before you leave)</li>
      <li>Don’t eat or drink in the lab</li>
    </ul>

    <h2>Lab Calendar/Schedule</h2>
    <ul>
      <li>
        <strong>Class/Instructional</strong> – Only students enrolled in the classes/sections listed  are permitted to use the lab during the time listed.  Any exceptions to this should be coordinated ahead of time with the professor/individual responsible for that class/instruction.
      </li>
      <li>
        <strong>Priority Access</strong> – The lab is scheduled to accommodate specific times when students enrolled in particular classes/sections have priority access to the computers in the lab.  During this time, students in those sections may use stations assigned to them to complete related course work.  However, students not enrolled in those classes may use the lab and machines not pre-empted by students enrolled in priority access classes/sections.
      </li>
      <li>
        <strong>Open Lab</strong> – When no other activities are scheduled, Information Systems students are welcome to use the lab.  Obviously students should be professional and respectful about the use (e.g., monopolization) of lab stations.
      </li>
    </ul>
</div>
