<div class="container">
    <div data-ng-if="global.authenticated">
      <labmap class="calendar" ng-model="d3Data" data="d3Data" on-click="d3OnClick(item)"></labmap>
      <div class="reservation-overlay" ng-show="stationData" ng-click="nullifyStationData()"></div>
      <div class="reservation-pane" ng-show="stationData" ng-class="{ 'animate-show': stationData }">
        <div class="left">
          <h1 class="center">{{ stationData.name }}</span></h1>
          <p>Please select a date to view reservations for {{ stationData.name }}.</p>
            <div class="marginZero">
                <datepicker min="today" show-weeks="false" on-click="nullifyStationData()" ng-model="reservationDate"></datepicker>
            </div>
          <p>Paint the time on the calendar for your desired reservation</p>
          <div class="controls" ng-show="stationData.reservation" ng-animate="{show: 'fadeIn', hide:'fadeOut'}">
            <h4>Reservation Details</h4>
            <table>
                <tr>
                    <td>Start:</td>
                    <td>{{ stationData.reservation.startReadable }}</td>
                </tr>
                <tr>
                    <td>End:</td>
                    <td>{{ stationData.reservation.endReadable }}</td>
                </tr>
            </table>
            <button class="btn btn-primary" ng-click="createReservation()">Reserve</button>
            <button class="btn btn-warning" ng-click="nullifyStationData()">Cancel</button>
          </div>
        </div>
        <div class="right">
          <calendar data="stationData"></calendar>
        </div>
      </div>
    </div>

    <!-- Display the login page when not authenticated -->
    <div ng-include='"views/partials/login.html"' ng-if="!global.authenticated"></div>
</div>
