
/*Map Styles*/

labmap {
  margin: 0 auto;
  display: block;
}

.station {
  fill: steelblue;
  stroke: 1px;
  stroke: #ffffff;
  -webkit-transition: 1s fill;
}

.station.free {
  fill: #7cbb00;
  -webkit-transition: 1s fill;
}

.station.in-use {
  fill: #ffbb00;
  -webkit-transition: 1s fill;
}

.station.reserved {
  fill: #f65414;
  -webkit-transition: 1s fill;
}

.station.off {
    fill: black;
    -webkit-transition: 1s fill;
}

.desk, .main-desk, .cabinet, .side-desk {
  fill: #ccc;
}

/*Calendar Styles*/

.reservation-pane {
  position: absolute;
  z-index: 10000;
  left: 50%;
  margin-left: -325px;
  top: 75px;
  padding: 20px;
  width: 650px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 8px -1px black;
}

.reservation-pane .left, .reservation-pane .right {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.reservation-pane .left p {
    padding: 10px 5px;
}

.reservation-pane .controls {
    text-align: center;
}

.reservation-pane .controls table {
    margin: 10px auto;
    text-align: left;
}

.reservation-pane .controls table td {
    padding: 2px 10px;
    font-style: italic;
}

.reservation-pane .controls h3 {
    margin: 0;
}

.calendar {
  padding-top: 20px;
}

.axis {
  vertical-align: top;
  display: inline-block;
}

.axis .increment {
  text-align: right;
  padding-right: 10px;
}

.axis .increment .hour span:nth-child(1) {
  font-weight: bold;
  font-size: 13px;
  padding-right: 10px;
}

.axis .increment .hour span:nth-child(2), .axis .increment .mid-hour span {
  font-size: 10px;
  color: #a8a8a8;
}

.calendar-container {
  display: inline-block;
  position: relative;
  border-left: 1px solid #d8d8d8;
  background-color: #ececec;
  margin-top: 11px;
}

.calendar-container.invalid .paintable.ui-selecting { background: #f83a22; }
.calendar-container.invalid .paintable.ui-selected { background: #f83a22; }

.calendar-container .paintable {
  box-shadow:inset 0px 1px 0px 0px #CCC;
}

.calendar-container .paintable:first-child {
    box-shadow:none;
}

.calendar-container .paintable.ui-selecting { background: #9fc6e7; }
.calendar-container .paintable.ui-selected { background: #4986e7; }


/* Event Styles */
/* ------------ */

.event {
  position: absolute;
}

.event .relative {
  position: relative;
}

.event .bar {
  display: inline-block;
  height: 100%;
  width: 4px;
}


.event.small .event-content div {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
}

.event.small .event-content .title {
    font-size: 11px;
}

.event.small .event-content .title:after {
    content: ' - ';
}

.event.small .event-content {
    margin-left: -3px;
}



.event .event-content {
  vertical-align: top;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  border-left: none;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  width: 175px;
  margin-left:-4px;
}

.event .title {
  padding-left: 5px;
  padding-top: 5px;
  color: black;
  font-size: 13px;
}

.event .description {
  padding-left: 5px;
  color: #969696;
  font-size: 10px;
}


.islab-event .event-content, .priority-access .event-content {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                            color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                            color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                            to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
}

.islab-event .event-content {
    background-color: #97da70;
}

.user-event .bar {
    background-color: #f83a22;
    border-top: 1px solid #f83a22;
    border-bottom: 1px solid #f83a22;
}

.islab-event .bar {
    background-color: green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.priority-access .bar {
    background-color: orange;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.priority-access .event-content {
    background-color: #fbda83;
}

.priority-access .event-content {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                            color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                            color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                            to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
}

.center {
    text-align: center;
}

datepicker {
    margin: 0 auto;
}

.marginZero table{
    margin: 0 auto;
}

.reservation-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;

}
