



/*Map Styles*/

labmap {
    margin: 0 auto;
    display: block;
    margin-top:50px;
}

.station {
    fill: steelblue;
    stroke: 1px;
    stroke: #ffffff;
}

.station.free {
    fill: #7cbb00;
}

.station.in-use {
    fill: #ffbb00;
}

.station.reserved {
    fill: #f65414;
}

.desk, .main-desk, .cabinet, .side-desk {
    fill: #ccc;
}




/*Calendar Styles*/

calendar {
    position: absolute;
    left: 50%;
    top:100px;
    width: 700px;
    padding: 20px;
    margin-left:-350px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid steelblue;
}




.calendar {
    padding-top: 20px;
}

.axis {
    vertical-align: top;
    display: inline-block;
    margin-top: -11px;
}

.axis .increment {
    text-align: right;
    padding-right: 10px;
}

.axis .increment .hour span:nth-child(1) {
    font-weight: bold;
    font-size: 13px;
    padding-right: 10px;
}

.axis .increment .hour span:nth-child(2), .axis .increment .mid-hour span {
    font-size: 10px;
    color: #a8a8a8;
}

.container {
    display: inline-block;
    position: relative;
    border-left: 1px solid #d8d8d8;
    background-color: #ececec;
}

.container .paintable {
    box-shadow:inset 0px 1px 0px 0px #CCC;
}

.container .paintable.ui-selecting { background: steelblue; }
.container .paintable.ui-selected { background: #055598; color: white; }



/* Event Styles */
/* ------------ */

.event {
    position: absolute;
}

.event .relative {
    position: relative;
}

.event .bar {
    display: inline-block;
    background-color: green;
    height: 100%;
    width: 4px;
    border-top: 1px solid #4f6ba8;
    border-bottom: 1px solid #4f6ba8;
}

.event .event-content {
    vertical-align: top;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    border-left: none;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    width: 175px;
}

.event .title {
    padding-left: 5px;
    padding-top: 5px;
    color: #5174ae;
    font-size: 13px;
}

.event .description {
    padding-left: 5px;
    color: #969696;
    font-size: 10px;
}