<div class="axis">
    <div class="increment" ng-repeat="segment in calendar.axis.segments" style="height:{{ calendar.incrementHeight }}px">
        <div class="hour" style="height:{{ calendar.incrementHeight / 2 }}px">
            <span>{{ segment.hour }}</span><span>{{ segment.meridiem }}</span>
        </div>
        <div class="mid-hour">
            <span>{{ segment.midHour }}</span>
        </div>
    </div>
</div>
<div class="calendar-container" uiselectable>
    <div class="paintable" style="height:{{ calendar.paintableHeight }}px" data-start-time="{{ segment.startTime }}" data-end-time="{{ segment.endTime }}" ng-repeat="segment in calendar.paintableSegments"></div>
    <div class="event" style="top:{{ event.top }}px; height:{{ event.height }}px" ng-repeat="event in calendar.events">
        <div class="bar"></div>
        <div class="event-content">
            <div class="title">Reserved</div>
            <div class="description">{{ event.user.name }}</div>
        </div>
    </div>
</div>