<div class="page-header">
  <h1 ng-hide="currentId">New <small>Series</small></h1>
  <h1 ng-show="currentId">Edit <small>Series {{currentId}}</small></h1>
</div>
<form name="modelForm">
  <div class="form-group" ng-class="{ 'has-error' : modelForm.name.$invalid && !modelForm.name.$pristine }">
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="currentItem.name" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="endsOn">Ends On</label>
    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" show-weeks="false" show-button-bar="false" close-text="Select" ng-model="currentItem.endsOn">
  </div>
  <div class="form-group">
    <label for="user">User</label>
    <input type="text" ng-model="currentItem.user" class="form-control" required>
  </div>
  <a href="/admin/Series" class="btn btn-default">Back</a>
  <button class="btn btn-primary" ng-click="newItem('Series')" ng-hide="currentId">Create Series</button>
  <button class="btn btn-primary" ng-click="updateItem('Series')" ng-show="currentId">Update Series</button>
</form>
